fastapi
uvicorn
jinja2
python-dotenv
supabase
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
aiofiles
python-magic
pillow
email-validator
motor
pymongo
tqdm
PyJWT 